#drink-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100%;  
  border: 1px solid black;
}

#drink-name{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#drink-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#drink-recipe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start
}