#profile-container  * {
  margin:10px;
  padding:10px;
}

.profile-button {
  background-color: #0B4042; 
  border-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} 
