#ingredient-fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

h4 {
  align-self: center;
  padding: 0;
  margin: 0;
}

.ingredient-sub{
  display: flex;
  align-items: flex-start;
  width:80%;
  height:30px;   
}

.ingredient-sub input{
  width:80%
}

.delete-ingredient{
  margin-top: 5px;
  padding: 5px;
}

.ingredient-selector{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: relative;
  z-index: 100;
  border: 1px solid #ccc;
  list-style-type: none;
  width: auto;
  display: inline-block;
  background-color: white;
  align-self: center;
}

.ingredient-choice{
  padding: 8px;
  cursor :pointer;
  background-color: white
}

#append-ingredient{
  margin-top: 0;
  min-width: 125px;
  width:25%;
  align-self: center;
}